.home {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.home h1{
    font-size: 60px;
    padding: 20px;
    /* margin: 30px; */
    display: block;
    text-align: center;
    color:white;
    background-color: black;

}

.home div{
    display: block;
}

.home-card{
    background-color: black;
    color: white;
    margin: 30px;
    border: 25px;
    padding: 30px;
    opacity: .8;
    max-width: 600px;
}

.home-contents{
    justify-content: center;
    align-items: center;
    text-align: center;
}
